
.container {
    display: flex;
    list-style: none;
    align-items: center;
    width: 49%;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
    border: 0.1em solid lightgray;
    cursor: pointer;
    transition: transform 250ms ease-in;
    box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.95);
}

.container:hover {
    transform: scale(1.03);
}

.info {
    margin-left: 0.5em;
}

.title, .channelTitle {
    margin: 0.2rem;
}
.thumbnails {
    width: 40%;
    height: 50%;
}
