.container {
    display: flex;
    list-style: none;
    align-items: center;
    width: 50%;
    padding-bottom: 0.5em;
}

.info {
    margin-left: 0.5em;
}

.title, .channelTitle {
    margin: 0.2rem;
}